<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %>

<h1>Categories</h1>

<div id="api_v1_categories">
  <% @api_v1_categories.each do |api_v1_category| %>
    <%= render api_v1_category %>
    <p>
      <%= link_to "Show this category", api_v1_category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_api_v1_category_path %>

<div>
  <%= link_to "Back to posts", new_api_v1_post_path %>
</div>